In [1]:
import pandas as pd
from SwissArmyKnife import YTClient
from datetime import datetime
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [45]:
ytc = YTClient('Hahn')
data_hahn = {
    'consumption' : '/home/cloud_analytics/tmp/artkaz/cons_clustering',
    'ba_info': '/home/cloud_analytics/tmp/artkaz/ba_info',
    'antifraud': '/home/cloud_analytics/tmp/artkaz/antifraud_bad_accounts_2019_06_04', #https://yql.yandex-team.ru/Operations/XPeS4Gim9UVcUXTm9eZE_WT1xY1WGIyqCZ0vCY6DxFQ=
    'destination': '/home/cloud_analytics/tmp/artkaz/similar_consumption_patterns_2019_06_05'
}

Мы хотим найти кластеры, очень близкие по потреблению. Используем данные начиная с 1го апреля за первые полные пять дней потребления (самый первый день не включаем)

In [4]:
# тут лежат результаты запроса https://yql.yandex-team.ru/Operations/XOGISGim9Y_WMu-K7n1siU4GXolBOcqSfZu4QFOr6bU=
# данные о потреблении начиная с 1 апреля
data = ytc.read_yt_table(data_hahn['consumption'])

In [5]:
data.shape

(9736155, 4)

In [6]:
data.head()

     billing_account_id        cost        date                           sku
0  dn2004tsaahbl68oadh2   71.702045  1554076800           compute.vm.cpu.c100
1  dn2004tsaahbl68oadh2   49.885903  1554076800                compute.vm.ram
2  dn2004tsaahbl68oadh2  129.680868  1554076800  marketplace.windows.cpu.c100
3  dn2004tsaahbl68oadh2    8.686293  1554076800    nbs.network-nvme.allocated
4  dn2004tsaahbl68oadh2    0.000000  1554076800           network.egress.inet

Агрегируем данные, убираем аккаунты, потребляющие менее пяти дней, оставляем данные за первые 5 дней потребления:

In [7]:
consumption_start_dates = data[['billing_account_id','date','cost']].\
                            groupby('billing_account_id',as_index=False).agg({ 
                                    'date':'min'}).rename({'date':'first_date'}, axis=1)

In [8]:
daily_consumption = data[['billing_account_id',
                          'date',
                          'cost']].groupby(['billing_account_id', 
                                            'date'],as_index=False).agg({ 
                                                                        'cost':'sum'})

In [9]:
daily_consumption.head()

     billing_account_id        date         cost
0  dn2004tsaahbl68oadh2  1553990400  1104.121555
1  dn2004tsaahbl68oadh2  1554076800  1050.223432
2  dn2004tsaahbl68oadh2  1554163200    34.739543
3  dn2004tsaahbl68oadh2  1554249600    34.739141
4  dn2004tsaahbl68oadh2  1554336000    34.739141

In [10]:
daily_consumption2 = pd.merge(daily_consumption, consumption_start_dates, how='left', on='billing_account_id')

In [11]:
daily_consumption2.head()

     billing_account_id        date         cost  first_date
0  dn2004tsaahbl68oadh2  1553990400  1104.121555  1553990400
1  dn2004tsaahbl68oadh2  1554076800  1050.223432  1553990400
2  dn2004tsaahbl68oadh2  1554163200    34.739543  1553990400
3  dn2004tsaahbl68oadh2  1554249600    34.739141  1553990400
4  dn2004tsaahbl68oadh2  1554336000    34.739141  1553990400

In [12]:
daily_consumption2.shape

(1020078, 4)

In [13]:
#Выбираем апрельское потребление

daily_consumption2 = daily_consumption2[daily_consumption2['first_date']>=1554076800] #2019-04-01

In [14]:
daily_consumption2.shape

(357186, 4)

In [15]:
daily_consumption2['day_number_int'] = (daily_consumption2['date'] - daily_consumption2['first_date'])/86400. 

daily_consumption2['day_number'] = daily_consumption2['day_number_int'].apply(
    lambda x: 'day_0' + str(int(x)) if x<10 else 'day_' + str(int(x)))

In [16]:
cons_max_dates = daily_consumption2.groupby('billing_account_id', as_index=False).agg({'day_number_int':'max'})

In [17]:
ba_mature = cons_max_dates[cons_max_dates['day_number_int']>=5]

In [18]:
ba_mature.head()

     billing_account_id  day_number_int
0  dn2005pvulgj42lae673            23.0
1  dn2007crg75ggb75s88f            22.0
2  dn200935k71qhasmfjn0            11.0
4  dn200ae4mtfsog16t9gv            11.0
5  dn200jrmfioingtd47v4            19.0

In [19]:
daily_consumption3 = pd.merge(daily_consumption2, 
                              ba_mature['billing_account_id'], 
                              how='inner', 
                              on='billing_account_id')

In [20]:
daily_consumption4 = daily_consumption3[daily_consumption3['day_number_int'] <= 5]

In [21]:
daily_consumption4.head()

,billing_account_id,date,cost,first_date,day_number_int,day_number
0,dn2005pvulgj42lae673,1557619200,7.315200,1557619200,0.0,day_00
1,dn2005pvulgj42lae673,1558051200,0.609600,1557619200,5.0,day_05
9,dn2007crg75ggb75s88f,1557792000,1086.562494,1557792000,0.0,day_00
10,dn2007crg75ggb75s88f,1557878400,1649.405217,1557792000,1.0,day_01
11,dn2007crg75ggb75s88f,1557964800,1725.248607,1557792000,2.0,day_02

In [22]:
daily_consumption4.shape

(63065, 6)

"Разворачиваем" данные в пивотку:

In [23]:
daily_consumption_pivot = daily_consumption4.pivot(
    index='billing_account_id', 
    columns='day_number', 
    values='cost').fillna(0)

In [24]:
daily_consumption_pivot.head()

day_number,day_00,day_01,day_02,day_03,day_04,day_05
billing_account_id,,,,,,
dn2005pvulgj42lae673,7.315200,0.000000,0.000000,0.000000,0.000000,0.609600
dn2007crg75ggb75s88f,1086.562494,1649.405217,1725.248607,1725.248607,1725.248607,1222.051097
dn200935k71qhasmfjn0,23.410420,75.843894,75.842221,75.843894,75.830550,75.835884
dn200ae4mtfsog16t9gv,347.239539,512.506254,474.181961,11.118445,11.120375,11.118413
dn200jrmfioingtd47v4,1424.865318,2050.028877,1452.103788,1025.014438,423.179774,14.824599

In [25]:
daily_consumption_pivot.shape

(10809, 6)

Мы хотим найти кластеры с максимальной плотностью точек, поэтому тут подойдет алгоритм MeanShift:

In [26]:
from sklearn.cluster import MeanShift
import numpy as np
clustering = MeanShift(bandwidth=2).fit(daily_consumption_pivot.loc[:, 'day_01':'day_05'])
clustering.labels_

array([   0, 1140,   92, ...,    5, 3470, 1735])

In [27]:
daily_consumption_pivot['cluster'] = clustering.labels_

In [28]:
clusters_count = daily_consumption_pivot.groupby('cluster', as_index=False).agg({'day_00':'count'}).rename({'day_00':'c'}, axis=1)

Всего получилось около 100 кластеров, с 10 и более биллинг-аккаунтами, у которых практически одинаковое потребление за первые пять дней:

In [29]:
clusters_count[clusters_count['c']>10].shape

(150, 2)

Добавляем данные о ба, считаем среднее потребление за 5 полных дней:

In [30]:
ba_info = ytc.read_yt_table(data_hahn['ba_info'])
#https://yql.yandex-team.ru/Operations/XOO3wWHljjB8iKvwb2h8SzJ4E4oFbAIJnOstaMX4LKg=

In [31]:
daily_consumption_pivot2 = pd.merge(daily_consumption_pivot, ba_info, how='left', on='billing_account_id')

In [32]:
daily_consumption_pivot2['avg_consumption'] = daily_consumption_pivot2.loc[:,'day_01':'day_05'].apply(np.mean, axis=1)

Наложим на полученные кластеры результаты антифрода:

In [39]:
antifraud_data = ytc.read_yt_table(data_hahn['antifraud'])[['billing_account_id', 'is_bad']]

In [40]:
antifraud_data.head()

     billing_account_id  is_bad
0  dn2r31h8ihg6getjv4ar   False
1  dn2bd8k1jred3taus4lb   False
2  dn28h2s9i5nm5i343dd4   False
3  dn2p72ldg8g49du21ket   False
4  dn2j3sdl22e6duu274iu   False

In [41]:
daily_consumption_pivot3 = pd.merge(daily_consumption_pivot2, antifraud_data, how='left', on='billing_account_id')

In [42]:
daily_consumption_pivot3.head()

,billing_account_id,day_00,day_01,day_02,day_03,day_04,day_05,cluster,block_reason,created_at,...,passport_email,passport_phone,payment_type,person_type,registration_ip,state,type,usage_status,avg_consumption,is_bad
0,dn2005pvulgj42lae673,7.315200,0.000000,0.000000,0.000000,0.000000,0.609600,0,None,1.557689e+09,...,undefer@gmail.com,79652171913,card,individual,78.31.74.4,active,self-served,trial,0.121920,False
1,dn2007crg75ggb75s88f,1086.562494,1649.405217,1725.248607,1725.248607,1725.248607,1222.051097,1140,None,1.557813e+09,...,mikasdomert@yandex.ru,79175609663,card,individual,2a02:6b8:c00:2d91:0:4362:a556:ab6e,active,self-served,trial,1609.440427,False
2,dn200935k71qhasmfjn0,23.410420,75.843894,75.842221,75.843894,75.830550,75.835884,92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.839289,False
3,dn200ae4mtfsog16t9gv,347.239539,512.506254,474.181961,11.118445,11.120375,11.118413,69,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204.009090,True
4,dn200jrmfioingtd47v4,1424.865318,2050.028877,1452.103788,1025.014438,423.179774,14.824599,52,manual,1.558065e+09,...,trofimvyrypaev@yandex.ru,79263074644,card,individual,5.166.88.29,suspended,self-served,trial,993.030295,True

In [43]:
daily_consumption_pivot3['is_bad'].sum()

4605

In [50]:
daily_consumption_pivot3['is_bad'] = daily_consumption_pivot3['is_bad'].apply(lambda x: str(x))
ytc.write_to_yt(df=daily_consumption_pivot3.fillna('').sort_values('cluster'), 
                yt_path=data_hahn['destination'])

Посчитаем статистику по кластерам: 
    * количество аккаунтов,
    * среднее потребление, 
    * количество активных и заблокированных аккаунтов, 
    * отношение фрода к заблокированным

In [47]:
pd.set_option('display.max_rows', 1000)

In [48]:
 def count_categories(categories):
    res = {}
    for c in categories:
        if c in res:
            res[c] += 1
        else:
            res[c] = 1
    
    return res
    

clusters_stat = daily_consumption_pivot3.groupby('cluster', as_index=False).agg({
                                                 'avg_consumption':'mean',
                                                 'billing_account_id':'count',
                                                 'state': count_categories,
                                                 'block_reason': count_categories,
                                                 'is_bad': lambda x: count_categories(x)['True'] if 'True' in count_categories(x) else 0
    
    
                                                                                },)
clusters_stat['is_bad'] = clusters_stat['is_bad'].apply(int)

clusters_stat['active_count'] = clusters_stat['state'].apply(lambda s: s['active'] if 'active' in s else 0)
clusters_stat['suspended_count'] = clusters_stat['state'].apply(lambda s: s['suspended'] if 'suspended' in s else 0)

clusters_stat['active_pct'] = clusters_stat['active_count'] / clusters_stat['billing_account_id']
clusters_stat['suspended_pct'] = clusters_stat['suspended_count'] / clusters_stat['billing_account_id']

clusters_stat['fraud_to_suspended'] = clusters_stat['is_bad'] / clusters_stat['suspended_count']
clusters_stat['fraud_to_suspended'] = clusters_stat['is_bad'] / clusters_stat['billing_account_id']

clusters_stat = clusters_stat[(clusters_stat['billing_account_id'] >= 10) & 
                              (clusters_stat['avg_consumption']> 100)  
                              #(clusters_stat['active_pct']> 0.2)  ]
                             ]


clusters_to_look = set(clusters_stat['cluster']) 
clusters_stat.sort_values('fraud_to_suspended', ascending=False)

,cluster,billing_account_id,state,avg_consumption,is_bad,block_reason,active_count,suspended_count,active_pct,suspended_pct,fraud_to_suspended
78,78,21,"{u'active': 20, nan: 1}",196.811953,21,"{None: 20, nan: 1}",20,0,0.952381,0.000000,1.000000
42,42,34,{u'suspended': 34},2050.904341,34,{u'manual': 34},0,34,0.000000,1.000000,1.000000
44,44,35,{u'suspended': 35},1259.042794,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
45,45,33,{u'suspended': 33},1431.393648,33,{u'manual': 33},0,33,0.000000,1.000000,1.000000
46,46,32,{u'suspended': 32},366.896201,32,{u'manual': 32},0,32,0.000000,1.000000,1.000000
48,48,32,{u'suspended': 32},145.477192,32,{u'manual': 32},0,32,0.000000,1.000000,1.000000
149,149,11,{u'suspended': 11},507.397171,11,{u'manual': 11},0,11,0.000000,1.000000,1.000000
148,148,11,{u'suspended': 11},659.644114,11,{u'manual': 11},0,11,0.000000,1.000000,1.000000
51,51,31,{u'active': 31},297.084083,31,{None: 31},31,0,1.000000,0.000000,1.000000
52,52,30,{u'suspended': 30},993.050306,30,{u'manual': 30},0,30,0.000000,1.000000,1.000000
54,54,30,{u'suspended': 30},1068.624815,30,{u'manual': 30},0,30,0.000000,1.000000,1.000000
55,55,30,{u'suspended': 30},1406.552110,30,{u'manual': 30},0,30,0.000000,1.000000,1.000000
145,145,10,{nan: 10},160.953372,10,{nan: 10},0,0,0.000000,0.000000,1.000000
142,142,11,{u'suspended': 11},730.333776,11,{u'manual': 11},0,11,0.000000,1.000000,1.000000
58,58,28,{u'suspended': 28},1006.336512,28,{u'manual': 28},0,28,0.000000,1.000000,1.000000
60,60,28,{u'suspended': 28},1806.851165,28,{u'manual': 28},0,28,0.000000,1.000000,1.000000
140,140,12,{nan: 12},118.569887,12,{nan: 12},0,0,0.000000,0.000000,1.000000
62,62,26,{u'suspended': 26},605.786080,26,{u'manual': 26},0,26,0.000000,1.000000,1.000000
63,63,26,{u'suspended': 26},389.939684,26,{u'manual': 26},0,26,0.000000,1.000000,1.000000
64,64,31,{u'suspended': 31},389.818494,31,{u'manual': 31},0,31,0.000000,1.000000,1.000000
65,65,25,{u'suspended': 25},452.138238,25,{u'manual': 25},0,25,0.000000,1.000000,1.000000
128,128,13,{u'suspended': 13},1469.616140,13,{u'manual': 13},0,13,0.000000,1.000000,1.000000
122,122,16,{u'suspended': 16},1143.247921,16,{u'manual': 16},0,16,0.000000,1.000000,1.000000
69,69,24,{nan: 24},204.007904,24,{nan: 24},0,0,0.000000,0.000000,1.000000
70,70,27,{u'suspended': 27},790.243133,27,{u'manual': 27},0,27,0.000000,1.000000,1.000000
119,119,13,{u'suspended': 13},241.318881,13,{u'manual': 13},0,13,0.000000,1.000000,1.000000
118,118,14,{u'suspended': 14},787.809549,14,{u'manual': 14},0,14,0.000000,1.000000,1.000000
76,76,22,{u'suspended': 22},128.199510,22,{u'manual': 22},0,22,0.000000,1.000000,1.000000
116,116,13,{u'suspended': 13},640.177844,13,{u'manual': 13},0,13,0.000000,1.000000,1.000000
111,111,16,{u'suspended': 16},641.225477,16,{u'manual': 16},0,16,0.000000,1.000000,1.000000
102,102,16,{u'suspended': 16},1089.697539,16,{u'manual': 16},0,16,0.000000,1.000000,1.000000
91,91,19,{u'suspended': 19},580.084684,19,{u'manual': 19},0,19,0.000000,1.000000,1.000000
43,43,33,{nan: 33},304.261360,33,{nan: 33},0,0,0.000000,0.000000,1.000000
41,41,33,{u'suspended': 33},1678.755647,33,{u'manual': 33},0,33,0.000000,1.000000,1.000000
25,25,40,{nan: 40},202.326482,40,{nan: 40},0,0,0.000000,0.000000,1.000000
196,196,10,{u'suspended': 10},1553.765726,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
192,192,11,{u'suspended': 11},660.556627,11,{u'manual': 11},0,11,0.000000,1.000000,1.000000
183,183,14,{u'suspended': 14},742.573850,14,{u'manual': 14},0,14,0.000000,1.000000,1.000000
177,177,10,{u'suspended': 10},1151.302481,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
164,164,10,{u'suspended': 10},139.101533,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
160,160,10,{u'suspended': 10},960.437550,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
16,16,43,{nan: 43},210.718206,43,{nan: 43},0,0,0.000000,0.000000,1.000000
17,17,43,{nan: 43},273.238014,43,{nan: 43},0,0,0.000000,0.000000,1.000000
19,19,42,{u'suspended': 42},358.719226,42,{u'manual': 42},0,42,0.000000,1.000000,1.000000
20,20,41,{nan: 41},173.076252,41,{nan: 41},0,0,0.000000,0.000000,1.000000
21,21,41,{nan: 41},360.786030,41,{nan: 41},0,0,0.000000,0.000000,1.000000
23,23,40,{u'suspended': 40},1273.233045,40,{u'manual': 40},0,40,0.000000,1.000000,1.000000
40,40,33,{u'suspended': 33},398.585446,33,{u'manual': 33},0,33,0.000000,1.000000,1.000000
24,24,40,{nan: 40},103.795844,40,{nan: 40},0,0,0.000000,0.000000,1.000000
26,26,39,{u'suspended': 39},677.269391,39,{u'manual': 39},0,39,0.000000,1.000000,1.000000
159,159,10,{u'suspended': 10},154.133682,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
39,39,33,{u'suspended': 33},1905.778841,33,{u'manual': 33},0,33,0.000000,1.000000,1.000000
38,38,34,{u'suspended': 34},1078.210419,34,{u'manual': 34},0,34,0.000000,1.000000,1.000000
37,37,34,{u'suspended': 34},459.444529,34,{u'manual': 34},0,34,0.000000,1.000000,1.000000
152,152,10,{u'suspended': 10},276.299188,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
35,35,35,{u'suspended': 35},1505.117495,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
85,85,20,{u'suspended': 20},195.940910,20,{u'manual': 20},0,20,0.000000,1.000000,1.000000
34,34,35,{u'suspended': 35},1832.555544,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
33,33,35,{u'suspended': 35},629.554199,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
32,32,35,{u'suspended': 35},858.675653,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
31,31,35,{u'suspended': 35},1783.182894,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
155,155,10,{u'suspended': 10},292.444113,10,{u'manual': 10},0,10,0.000000,1.000000,1.000000
29,29,35,{u'suspended': 35},1030.661842,35,{u'manual': 35},0,35,0.000000,1.000000,1.000000
13,13,45,"{u'active': 3, u'suspended': 42}",300.240482,42,"{None: 3, u'manual': 42}",3,42,0.066667,0.933333,0.933333
114,114,13,{u'suspended': 13},1060.534080,12,{u'manual': 13},0,13,0.000000,1.000000,0.923077
2,2,210,{u'suspended': 210},404.829478,185,{u'manual': 210},0,210,0.000000,1.000000,0.880952
1,1,274,"{u'active': 2, u'suspended': 272}",744.527575,233,"{None: 1, u'manual': 213, u'trial_expired': 60}",2,272,0.007299,0.992701,0.850365
61,61,26,"{u'active': 4, u'suspended': 22}",340.723963,22,"{None: 4, u'manual': 22}",4,22,0.153846,0.846154,0.846154
7,7,101,{u'suspended': 101},298.428673,85,{u'manual': 101},0,101,0.000000,1.000000,0.841584
8,8,124,"{u'active': 1, u'suspended': 123}",1171.639243,96,"{u'manual': 104, u'trial_expired': 20}",1,123,0.008065,0.991935,0.774194
15,15,47,{u'suspended': 47},523.797436,36,"{u'unbound_card': 1, u'manual': 39, u'trial_ex...",0,47,0.000000,1.000000,0.765957
108,108,16,"{nan: 1, u'suspended': 15}",550.933842,12,"{nan: 1, u'manual': 1, u'trial_expired': 14}",0,15,0.000000,0.937500,0.750000
153,153,11,"{u'active': 3, u'suspended': 8}",568.401807,8,"{None: 3, u'manual': 8}",3,8,0.272727,0.727273,0.727273
186,186,10,{u'suspended': 10},750.787021,7,{u'manual': 10},0,10,0.000000,1.000000,0.700000
9,9,79,{u'suspended': 79},2049.948586,55,"{u'manual': 58, u'trial_expired': 21}",0,79,0.000000,1.000000,0.696203
150,150,11,"{u'active': 4, u'suspended': 7}",567.113349,7,"{None: 4, u'manual': 7}",4,7,0.363636,0.636364,0.636364
134,134,13,"{u'active': 3, nan: 1, u'suspended': 9}",301.275329,8,"{None: 3, nan: 1, u'unbound_card': 1, u'manual...",3,9,0.230769,0.692308,0.615385
30,30,36,{u'suspended': 36},742.097657,22,"{u'manual': 23, u'trial_expired': 13}",0,36,0.000000,1.000000,0.611111
79,79,22,"{u'active': 10, u'suspended': 12}",748.617370,13,"{None: 10, u'manual': 12}",10,12,0.454545,0.545455,0.590909
36,36,40,{u'suspended': 40},749.938358,19,{u'manual': 40},0,40,0.000000,1.000000,0.475000
126,126,13,{u'suspended': 13},1725.903882,6,"{u'manual': 1, u'trial_expired': 12}",0,13,0.000000,1.000000,0.461538
89,89,13,"{u'active': 8, u'suspended': 5}",258.812905,5,"{None: 8, u'manual': 5}",8,5,0.615385,0.384615,0.384615
131,131,11,{u'suspended': 11},1725.823273,4,{u'trial_expired': 11},0,11,0.000000,1.000000,0.363636
82,82,18,{u'suspended': 18},1726.051805,5,"{u'manual': 2, u'trial_expired': 16}",0,18,0.000000,1.000000,0.277778
938,938,12,{u'suspended': 12},1172.747156,3,"{u'manual': 3, u'trial_expired': 9}",0,12,0.000000,1.000000,0.250000
27,27,38,{u'suspended': 38},1722.481836,6,"{u'manual': 1, u'trial_expired': 37}",0,38,0.000000,1.000000,0.157895
130,130,13,"{u'active': 4, u'suspended': 9}",529.677682,2,"{None: 4, u'manual': 1, u'trial_expired': 8}",4,9,0.307692,0.692308,0.153846
176,176,10,"{u'active': 8, nan: 2}",134.329158,1,"{None: 8, nan: 2}",8,0,0.800000,0.000000,0.100000
165,165,10,"{u'active': 5, u'suspended': 5}",874.957821,1,"{None: 5, u'trial_expired': 5}",5,5,0.500000,0.500000,0.100000
3,3,162,{u'suspended': 162},1725.285754,16,"{u'manual': 65, u'trial_expired': 97}",0,162,0.000000,1.000000,0.098765
162,162,11,"{u'active': 6, nan: 3, u'suspended': 2}",125.919036,1,"{None: 6, nan: 3, u'unbound_card': 1, u'manual...",6,2,0.545455,0.181818,0.090909
127,127,14,"{u'active': 7, u'suspended': 7}",526.345254,1,"{None: 7, u'manual': 1, u'unbound_card': 2, u'...",7,7,0.500000,0.500000,0.071429
96,96,18,"{nan: 6, u'active': 10, u'suspended': 2}",241.885568,1,"{nan: 6, None: 10, u'unbound_card': 1, u'manua...",10,2,0.555556,0.111111,0.055556
57,57,19,"{u'active': 16, nan: 1, u'suspended': 2}",260.294333,1,"{None: 16, nan: 1, u'unbound_card': 1, u'manua...",16,2,0.842105,0.105263,0.052632
75,75,23,"{u'active': 2, u'suspended': 21}",395.098800,1,"{None: 2, u'manual': 1, u'trial_expired': 20}",2,21,0.086957,0.913043,0.043478
50,50,31,{u'suspended': 31},393.271180,1,"{u'manual': 30, u'trial_expired': 1}",0,31,0.000000,1.000000,0.032258
101,101,17,"{nan: 14, u'active': 3}",293.048528,0,"{nan: 14, None: 3}",3,0,0.176471,0.000000,0.000000
157,157,10,"{u'active': 9, u'suspended': 1}",261.795706,0,"{None: 9, u'unbound_card': 1}",9,1,0.900000,0.100000,0.000000
121,121,14,"{u'active': 13, u'suspended': 1}",203.790574,0,"{None: 13, u'manual': 1}",13,1,0.928571,0.071429,0.000000
95,95,17,"{nan: 16, u'active': 1}",101.126064,0,"{nan: 16, None: 1}",1,0,0.058824,0.000000,0.000000
106,106,14,"{u'active': 6, nan: 1, u'suspended': 7}",449.576154,0,"{None: 6, nan: 1, u'unbound_card': 1, u'trial_...",6,7,0.428571,0.500000,0.000000
94,94,22,"{u'active': 8, nan: 12, u'suspended': 2}",486.923433,0,"{nan: 12, None: 7, u'trial_expired': 3}",8,2,0.363636,0.090909,0.000000
93,93,19,"{u'active': 16, u'suspended': 3}",266.380684,0,"{None: 16, u'unbound_card': 1, u'manual': 1, u...",16,3,0.842105,0.157895,0.000000
86,86,20,{nan: 20},193.972615,0,{nan: 20},0,0,0.000000,0.000000,0.000000
5,5,104,"{nan: 73, u'active': 31}",431.299826,0,"{nan: 73, None: 31}",31,0,0.298077,0.000000,0.000000
104,104,16,{u'active': 16},546.377372,0,{None: 16},16,0,1.000000,0.000000,0.000000
49,49,30,"{u'active': 29, u'suspended': 1}",222.847413,0,"{None: 29, u'trial_expired': 1}",29,1,0.966667,0.033333,0.000000
151,151,10,{nan: 10},192.724504,0,{nan: 10},0,0,0.000000,0.000000,0.000000
107,107,15,"{u'active': 11, nan: 1, u'suspended': 3}",256.953407,0,"{None: 11, nan: 1, u'unbound_card': 3}",11,3,0.733333,0.200000,0.000000
67,67,25,{u'active': 25},460.099922,0,{None: 25},25,0,1.000000,0.000000,0.000000
147,147,12,"{u'active': 7, nan: 5}",119.960421,0,"{None: 7, nan: 5}",7,0,0.583333,0.000000,0.000000
56,56,31,"{nan: 19, u'active': 9, u'suspended': 3}",512.519003,0,"{nan: 19, None: 9, u'trial_expired': 3}",9,3,0.290323,0.096774,0.000000
141,141,11,"{u'active': 3, nan: 4, u'suspended': 4}",496.514503,0,"{None: 3, nan: 4, u'trial_expired': 4}",3,4,0.272727,0.363636,0.000000
81,81,21,{u'active': 21},1624.694590,0,{None: 21},21,0,1.000000,0.000000,0.000000
137,137,11,"{u'active': 5, nan: 6}",199.663397,0,"{None: 5, nan: 6}",5,0,0.454545,0.000000,0.000000
136,136,13,"{nan: 5, u'active': 6, u'suspended': 2}",484.191862,0,"{nan: 5, None: 6, u'trial_expired': 2}",6,2,0.461538,0.153846,0.000000
90,90,21,"{u'active': 19, u'suspended': 2}",264.383763,0,"{None: 19, u'unbound_card': 2}",19,2,0.904762,0.095238,0.000000
77,77,18,"{nan: 17, u'active': 1}",142.448149,0,"{nan: 17, None: 1}",1,0,0.055556,0.000000,0.000000
129,129,13,"{u'active': 7, nan: 4, u'suspended': 2}",149.229976,0,"{None: 7, nan: 4, u'unbound_card': 1, u'trial_...",7,2,0.538462,0.153846,0.000000
66,66,25,{u'active': 25},586.061291,0,{None: 25},25,0,1.000000,0.000000,0.000000
74,74,20,"{u'active': 18, u'suspended': 2}",150.589046,0,"{None: 18, u'unbound_card': 2}",18,2,0.900000,0.100000,0.000000
123,123,12,"{nan: 9, u'active': 3}",121.759229,0,"{nan: 9, None: 3}",3,0,0.250000,0.000000,0.000000
135,135,12,{u'active': 12},1049.619793,0,{None: 12},12,0,1.000000,0.000000,0.000000

In [49]:
clusters_stat.head()

,cluster,billing_account_id,state,avg_consumption,is_bad,block_reason,active_count,suspended_count,active_pct,suspended_pct,fraud_to_suspended
1,1,274,"{u'active': 2, u'suspended': 272}",744.527575,233,"{None: 1, u'manual': 213, u'trial_expired': 60}",2,272,0.007299,0.992701,0.850365
2,2,210,{u'suspended': 210},404.829478,185,{u'manual': 210},0,210,0.000000,1.000000,0.880952
3,3,162,{u'suspended': 162},1725.285754,16,"{u'manual': 65, u'trial_expired': 97}",0,162,0.000000,1.000000,0.098765
5,5,104,"{nan: 73, u'active': 31}",431.299826,0,"{nan: 73, None: 31}",31,0,0.298077,0.000000,0.000000
7,7,101,{u'suspended': 101},298.428673,85,{u'manual': 101},0,101,0.000000,1.000000,0.841584

Можно сделать следующие выводы:
    1. Есть кластеры, которые полностью заблочены и полностью определены антифродом (fraud_to_suspended = 1). Большое кол-во таких кластеров - хороший показатель работы антифрода
    2. Есть кластеры, которые покрыты антифродом частично. (fraud_to_suspended between (0,1)). Основные причины блокировки - кончилсяч триал или отвязал карту - возможно эти аккаунты тоже фрод, который истратил свой триал и ушел. Нужно проверять
    3. Кластеры, где fraud_to_suspended=0 or NaN - тут фрод маловероятен, потому что не определено хотя бы одного аккаунта и практически нет или вообще отсустсвуют аккаунты, заблокированные по другим причинам - большинство аккаунтов в этой группе активные
    
 В итоге, я бы советовал обратить внимание на аккаунты из группы 2. 
 Все данные я выложил на YT в таблицу /home/cloud_analytics/tmp/artkaz/similar_consumption_patterns

In [180]:
print daily_consumption_pivot3.shape
print daily_consumption_pivot3.dropna().shape

(8240, 21)
(4721, 21)

In [181]:
daily_consumption_pivot3.dtypes

billing_account_id     object
day_00                float64
day_01                float64
day_02                float64
day_03                float64
day_04                float64
day_05                float64
cluster                 int64
block_reason           object
fraud_detected_by      object
name                   object
owner_id               object
passport_email         object
passport_phone         object
payment_type           object
person_type            object
registration_ip        object
state                  object
type                   object
avg_consumption       float64
is_bad                 object
dtype: object

In [182]:
daily_consumption_pivot3['is_bad'] = daily_consumption_pivot3['is_bad'].apply(lambda x: str(x))